/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Cabin', sans-serif;
}

.flex-centered{
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-j-center{
    display: flex;
    justify-content: space-around;
    font-size: 25px;
    padding: 1rem;
}

.flex-j-between{
    display: flex;
    justify-content: space-between;
}

.container{
    max-width: 1050px;
    /* width: 65 */
    margin: 0 auto;
}

.jumbo-container{
    max-width: 500px;
    /* width: 50% */
    margin: 0 auto;
}

.dotted-test{
    color: white;
    
}

.button-accedi{
    font-size: 18px;
    border-radius: 2rem;
    
    
}
h1{
    font-size: 300%;
    text-align: center;
}
p{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 250%;
}
.columns{
    padding: 3rem 0;
}

.column{
    height: 400px;
}

.column-sinistro{
    background-image: url(../img/item1.svg);
    width: 60%;
    
}
.column-destro{
    display: flex;
    justify-content: right;
    background-image: url(../img/item2.svg);
    width: 60%;
    

}
.column-ultimo{
    background-image: url(../img/item3.svg);
    width: 250%;
    justify-content: start;
    padding: 5rem;

}
.primo-testo{
    color: black;
    text-align: start;
}
.paragraffo-destro{
    font-size: 150%;
    color: #171B1E;

}
.secondo-testo{
    color: black;
    text-align: left;
}
.paragraffo-sinistro{
    font-size: 150%;
    color: #171B1E;
}
.terzo-testo{
    color: black;
    text-align: start;
}
.paragraffo-ultima{
    font-size: 150%;
    color: #171B1E;
    text-align: start;
}

.column-primo-testo{
    
    width: 40%;
}

.column-single{
    background-image: url(../img/item4-big.svg);
    height: 485px;
    width: 85%;
}
.titolo-columnsingle{
    font-size: 700px;

}
.paragraffo-single{
    font-size: 150%;
    color: #171B1E;
    text-align: center;
    padding: 3rem;
}

.column-70{
    background-color: #23272A ;
    width: 70%;
    height: 500px;
}

.column-30{
    background-color: #23272A;
    height: 500px;
    width: 30%;
}

.column-quarters{
    width: calc(100% / 4);
}



.just-chillin{
    background-color: white;
}

.bg-grey{
    background-color: #d2d2d2;
}

header{
    background-color: #acd7e5;
    padding: 0 0 .25rem;
}

section.navigation1{
    height: 100px;
    background-color: #255EE9;
}


header section.navigation > div{
    /* height: 40px; */
    background-color: #23272A;
}

header section.navigation div.brand,
header section.navigation nav,
header section.navigation div.login{
    padding: .5rem;
}


section.navigation div.brand,
section.navigation div.login{
    width: 20%;
}

section.navigation  nav{
    width: 60%;
}

section.navigation  nav ul{
    list-style-type: none;
}

section.navigation  nav ul li{
    /* display: inline-block; */
    padding: 0 .25rem;
}


section.navigation div.login{
    text-align: right;
}


section#jumbo{
    /* height: 300px; */
   background-image: url(../img/jumbo.png);
    padding: 6rem 0;
    background-position: center;
    background-size: cover;
}

div.jumbotron{
    height: 300px
    
}

footer{
    background-color: #23272a;
}
.titolo-footer{
    text-align: start;
    color: #7289DA;
    font-size: 150%;
}


div.footer-divider{
    background-color: white;
    height: 1px;
    width: 100%;
    margin: 2rem 0;
}

section.links{
    padding-top: .5rem;
}
.lista{
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: .50rem;
    text-align: left;
}
ul,li{
    list-style: none;
}
h2{
    color: #7289DA;
    font-size: 80%
}

div.button{
    background-color: #23272A;
    height: 2rem;
    padding: .25rem .5rem;
    border-radius: 25%;
    border-color: white;
}